#profile-container {
  height: 100vh;
  /* background-color: #1f282e; */
  background-color: #12171b;
  color: #4FFFB0;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 6px -6px black;
}

.profile-header {
  /* background-color: #1f282e; */
  background-color: #12171b;
}


#profile-image {
  display: flex;
}

#profile-image .profile-image{
  position: absolute;
  height: 90%;
}

#profile-container .icon {
  height: 60px;
}

.background-circle {
  position: relative;
  background-color: #2c3840;
  /* background-color: #1f282e; */
  height: 500px;
  width: 500px;
  margin-top: 100px;
  border-radius: 50%;
  display: flex;
}

.icon1 {
  position: absolute;
  bottom: 0;
}

.icon2 {
  position: absolute;
  bottom: 0;
  left: 60px;
}

#profile-decription {
  margin-top: 150px;
}

.neon-button {
  width: 120px;
  background-color:#4FFFB0;
  font-size: 15px;
  padding: 8px 0;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  margin: 0px 5px 5px 0;
}

#body-container {
  background-color: #161c20;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#card-deck {
  padding-top: 80px;
}

#card-deck .body-card {
  width: 350px;
  height: 180px;
  /* background-color: #1f282e; */
  background-color: #12171b;;
   /* background: rgb(37,37,37);
   background: linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(32,31,31,1) 96%, rgba(0,0,0,1) 98%); */
  color: rgb(159, 156, 156);
  margin-top: 20px;
  margin-right:10px;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  /* box-shadow: rgba(79,255,176, 0.19) 0px 10px 20px, rgba(79,255,176, 0.23) 0px 6px 6px; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(79,255,176, 0.23) 0px 6px 6px; */
}

.body-card .card-detail-year{
  display: flex;
}

#big-card{
  margin-left:10px;
  margin-top: 80px;
  width: 500px;
  height: 600px;
  color:white;
  display: flex;
  /* background-color: #1f282e; */
  background-color: #12171b;;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* box-shadow: rgba(79,255,176, 0.19) 0px 10px 20px, rgba(79,255,176, 0.23) 0px 6px 6px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(79,255,176, 0.23) 0px 6px 6px;

}

.body-card1 {
  align-items: center !important;
}

#bigcard-button-set {
  margin-top: 50px;
  margin-left: 50px;
}

.long-button {
  height: 90px;
  width: 3px;
  border: none;
  border-radius: 15px;
  background-color: rgb(159, 156, 156);
}

.special-long-button {
  background-color: white;
}

.bigcard-text {
  margin-top: 50px;
}

.bigcard-text p{
  color: rgb(159, 156, 156);
  width: 70%;
  margin-left: 50px;
}

#profile-footer {
  background-color: #161c20;
  /* background-color: #0e1114; */
  height: 600px;
}

.skills {
  /* top: 80px; */
}

.skills img{
  height: 40px;
  margin: 5px;
  background-color: #12171b;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#cards-footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#cards-footer .card-footer {
  height: 400px;
  width: 400px;
  padding-top: 20px;
  margin: 10px;
  background-color: #12171b;;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(79,255,176, 0.23) 0px 6px 6px;
}

.card-line {
 margin-top: 20px;
}

.language {
}

.language-skill {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  width: 280px;
  margin-top:15px;
  color: rgb(159, 156, 156);
}

.language-skill h4 {
  margin-left: 50px;
}

.progressbar {
  display: flex;
  align-items: center;
}
