#skills {
  background-color: #161c20;
  text-align: center;
}

.skills img{
  object-fit: cover;
  height: 40px;
  margin: 5px;
  background-color: var(--color-general-background);
  box-shadow: var(--dark-shadow);
}

#cards_footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#cards_footer .card_footer {
  border-radius: 2rem;
  height: 400px;
  width: 400px;
  padding-top: 20px;
  margin: 10px;
  background-color: var(--color-general-background);
  box-shadow: var(--dark-shadow);
}

.card_footer:hover {
  border: 2px solid var(--color-neon-green);
}

.card_footer h4 {
  color:var(--color-white);
}

.card_line {
 margin-top: 20px;
}

.language_skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-top:15px;
  color: var(--color-grey);
}

.language_skill h4 {
  color: var(--color-grey);
  margin-left: 50px;
}

.progressbar {
  display: flex;
  align-items: center;
}

.contact_container {
  width:58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

#profile_footer .contact_title{
  color: rgb(159, 156, 156);
}

#profile_footer .contact_message{
  font-weight: bold;
  color: var(--color-neon-green);
  font-size: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {

  #cards_footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and(max-width: 620px) {

}
