@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
  /* background-color: #161c20; */
  list-style: none;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --color-bg: #1f1f38;
  --color-neon-green:#4FFFB0;
  --color-general-background: #12171b;
  --color-white: white;
  --color-grey: rgb(159, 156, 156);
  --dark-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}


.navbar {
  background-color: #12171b;
}

.nav_contents{
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.nav_contents h2{
  padding-left: 15px;
}

.nav_contents a{
  font-size: 20px;
  padding-left: 30px;
  color: white;
  text-decoration: none;
}

.nav_icon {
  padding-bottom: 10px
}

.nav_contents a:hover {
  color: var(--color-neon-green);
}

.container {
  width: 75%;
}

section {
  padding-top: 8rem;
  padding-bottom: 3rem;
  background-color: #161c20;
}

section .message{
  font-weight: bold;
  color: var(--color-neon-green);
  font-size: 30px;
  margin-bottom: 30px;
}

section > h5 {
  color: var(--color-grey);
}

html {
  scroll-behavior: smooth;
}

.neon_button {
  width: 120px;
  background-color:var(--color-neon-green);
  font-size: 15px;
  padding: 8px 0;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  margin: 0px 5px 5px 0;
}

.neon_button:hover {
  border: 2px solid white;
}

@media screen and (max-width: 1024px){
  .container {
    width: var(--container-width-md);
  }

  .section {
    padding-top: 6px;
  }
}


@media screen and (max-width: 600px){
  .container {
    width: var(--container-width-sm);
  }

}
