@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


* {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

header{
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 60px;
  margin-top:0;
  width: 100%;
  color: white;
  background-color: rgba(4, 9, 9, 0.74);
}

header .nav-contents{
  display: flex;
}

header h2{
  padding-left: 15px;
  padding-top: 15px;
}

header p{
  font-size: 20px;
  padding-left: 30px;
  padding-top: 20px;
  justify-content: center;
}

.body-contents{
  color: white;
  height: 600px;
  border: 1px solid #000;
  background-size: cover;
  text-align: center;
}

.body-contents h3{
  font-size: 40px;
  margin-top: 200px
}

.body-contents h4{
  font-size: 30px;
}

.contents-name{
  margin-top: 40px;
}

.buttons button {
  margin: 15px 10px 100px 10px;
  width: 100px;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  background: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#card-list{
  justify-content: center;
  display: flex;
}

.single-card {
  margin: 0 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.single-card image{
 width: 3000px;
}


footer {
  height: 300px;
  text-align: center;
}

footer p{
  margin: 200px;
}
