#profile_container {
  background-color: #12171b;
  color: #4FFFB0;
  display: flex;
  justify-content: center;
}

.profile-image{
  height: 90%;
}

#profile_container .icon {
  height: 60px;
}

.background_circle {
  position: relative;
  background-color: #2c3840;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
}

.icon1 {
  position: absolute;
  bottom: 0;
}

.icon2 {
  position: absolute;
  bottom: 0;
  left: 60px;
}

#profile_decription {
  margin-left: 40px;
}

@media screen and (min-width: 1024px) {
  #profile_decription {
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  #profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .background_circle {
    margin: 0 auto;
    height: 450px;
    width: 450px;
  }

  #profile_decription{
    text-align: center;
    margin-top: 20px;
  }

  .name_favs {
    text-align: center;
    display: block;
  }

  .name_favs h4{
    text-align: left;
    display: inline-block;
  }
}

@media screen and (max-width: 620px) {
  .background_circle {
    height: 300px;
    width: 300px;
  }
}
