#profile_container {
  background-color: #12171b;
  color: #4FFFB0;
  display: flex;
  justify-content: center;
}

.profile_header {
  background-color: #12171b;
}

#profile_image {
  display: flex;
}

#profile_image .profile-image{
  position: absolute;
  height: 90%;
}

#profile_container .icon {
  height: 60px;
}

.background_circle {
  position: relative;
  background-color: #2c3840;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
}

.icon1 {
  position: absolute;
  bottom: 0;
}

.icon2 {
  position: absolute;
  bottom: 0;
  left: 60px;
}

#profile_decription {
  margin-left: 20px;
}
