#projects{
  text-align: center;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.portfolio__item-image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.portfolio__item {
  background: transparent;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  border: 2px solid var(--color-neon-green);
}

.portfolio__item:hover {
  border: 2px solid var(--color-white);
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item-image img{
  height: 400px;
  object-fit: contain;
}

.portfolio__item h3{
  margin: 1.2rem 0 2rem;
  color: rgb(159, 156, 156);
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--color-grey);
}

.contact_container {
  width:58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

#projects .container_message{
  font-weight: bold;
  color: var(--color-neon-green);
  font-size: 30px;
  margin-bottom: 30px;
}


@media screen and (max-width: 1024px){
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
